@reference "~/entrypoints/tailwind.css";

@layer components {
  .accordion {
    @apply flex flex-col gap-2;
  }

  .accordion__details {
    @apply border border-gray-200 rounded-md;

    @media (prefers-reduced-motion: no-preference) {
      interpolate-size: allow-keywords;
    }

    &::details-content {
      block-size: 0;
      @apply transition-all duration-300 opacity-0 overflow-clip;
    }

    &[open]::details-content {
      block-size: auto;
      @apply opacity-100;
    }
  }

  .accordion__summary {
    @apply flex items-center justify-between gap-3 p-4 font-medium rounded-md cursor-pointer;
  }

  .accordion__body {
    @apply px-5 pb-4 -mt-px transition-transform;
  }

  .accordion__icon {
    @apply transition-transform size-5 shrink-0;
  }

  .accordion__details[open] .accordion__icon {
    @apply -rotate-180;
  }
}
