<footer class="body__footer">
  <p>
    Made with ♥︎ by
    <%= link_to "Aleksei Solilin", "https://www.linkedin.com/in/solilin/", target: "_blank", rel: "noopener noreferrer", class: "link text-muted-foreground" %>
    for
    <%= link_to "JetRockets", "https://jetrockets.com", target: "_blank", class: "link text-muted-foreground" %>
  </p>
</footer>
