<nav class="navbar">
  <%= breadcrumbs(separator: content_tag(:span, "/", class: "breadcrumbs__separator"), class: "breadcrumbs", display_single_fragment: true) %>
  <%= render partial: "layouts/shared/navbar_buttons" %>
</nav>
