<% if rodauth.logged_in? %>
  <%= button_to "Sign Out", rodauth.logout_path, data: { turbo: false, turbo_method: :post }, class: "btn btn-primary btn-outlined btn-sm" %>
<% else %>
  <div class="flex items-center gap-2">
    <%= link_to "Sign In", rodauth.login_path, class: "btn btn-primary btn-outlined btn-sm", data: { turbo_frame: :modal } %>
    <%= link_to "Sign Up", rodauth.create_account_path, class: "btn btn-primary btn-sm", data: { turbo_frame: :modal } %>
  </div>
<% end %>
