<dialog id="turbo-confirm" class="max-w-md p-8 rounded-lg shadow backdrop:bg-black backdrop:bg-opacity-50">
  <form method="dialog">
    <div class="text-center">
      <svg class="w-12 h-12 mx-auto mb-4 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
      </svg>
      <h3 class="text-lg font-normal text-gray-500">Are you sure you?</h3>
    </div>

    <div class="flex items-center justify-center mt-8 gap-x-4">
      <button class="btn btn-danger" value="confirm">Yes, I'm sure</button>
      <button class="btn btn-outlined" value="cancel">No, Cancel</button>
    </div>
  </form>
</dialog>
