<dialog id="turbo-confirm" class="w-full transition-all rounded-lg shadow md:max-w-xl md:w-auto sm:mx-auto backdrop:bg-gray-900 backdrop:bg-opacity-50 animate-slideDown">
  <form method="dialog">
    <div class="modal__header">
      <div>
        <h3 class="modal__title">
          Are you sure?
        </h3>
      </div>

      <button value="cancel" class="modal__close" data-action="click->modal#close">
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
    </div>

    <div class="modal__body">
      <p class="">This cannot be undone.</p>
    </div>

    <div class="modal__footer modal__footer-end">
      <button class="btn btn-outlined" value="cancel">Cancel</button>
      <button class="btn btn-red" value="confirm">Yes, I'm sure</button>
    </div>
  </form>
</dialog>
