<dialog id="turbo-confirm" class="w-full transition-all rounded-lg shadow md:max-w-xl md:w-auto sm:mx-auto backdrop:bg-gray-900 backdrop:bg-opacity-50 animate-[var(--animate-slide-down)]">
  <form method="dialog">
    <div class="modal__header">
      <div>
        <h3 class="modal__title">
          Are you sure?
        </h3>
      </div>

      <button value="cancel" class="modal__close" data-action="click->modal#close">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        <span class="sr-only">Close modal</span>
      </button>
    </div>

    <div class="modal__body">
      <p class="">This cannot be undone.</p>
    </div>

    <div class="modal__footer modal__footer-end">
      <button class="btn btn-outlined" value="cancel">Cancel</button>
      <button class="btn btn-danger" value="confirm">Yes, I'm sure</button>
    </div>
  </form>
</dialog>
