@reference "~/entrypoints/tailwind.css";

@layer components {
  .tooltip {
    @apply relative z-20 invisible px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 ease-in rounded-lg shadow-xs opacity-0 bg-gray-700 text-center min-w-40;
  }

  .tooltip__arrow {
    @apply absolute w-3 h-3 bg-gray-700;
  }

  .tooltip__arrow-top {
    @apply bottom-full -mb-11;
  }

  .tooltip__arrow-bottom {
    @apply top-full -mt-10;
  }

  .tooltip__arrow-right {
    @apply mt-0.5 -mr-0.5 right-full;
  }

  .tooltip__arrow-left {
    @apply pt-0.5 -ml-2.5 left-full;
  }

  /* FLOWBITE */
  [data-popper-arrow] {
    visibility: hidden;
  }
  [data-popper-arrow]:before {
    content: "";
    visibility: visible;
    transform: rotate(45deg);
  }
  [data-popper-arrow]:after {
    content: "";
    visibility: visible;
    transform: rotate(45deg);
    position: absolute;
    width: 9px;
    height: 9px;
    background: inherit;
  }
  [role="tooltip"] > [data-popper-arrow]:before {
    border-style: solid;
    border-color: var(--color-gray-200);
  }
  .dark [role="tooltip"] > [data-popper-arrow]:before {
    border-style: solid;
    border-color: var(--color-gray-600);
  }
  [role="tooltip"] > [data-popper-arrow]:after {
    border-style: solid;
    border-color: var(--color-gray-200);
  }
  .dark [role="tooltip"] > [data-popper-arrow]:after {
    border-style: solid;
    border-color: var(--color-gray-600);
  }
  [data-popover][role="tooltip"][data-popper-placement^='top'] > [data-popper-arrow]:before {
    border-bottom-width: 1px;
    border-right-width: 1px;
  }
  [data-popover][role="tooltip"][data-popper-placement^='top'] > [data-popper-arrow]:after {
    border-bottom-width: 1px;
    border-right-width: 1px;
  }
  [data-popover][role="tooltip"][data-popper-placement^='right'] > [data-popper-arrow]:before {
    border-bottom-width: 1px;
    border-left-width: 1px;
  }
  [data-popover][role="tooltip"][data-popper-placement^='right'] > [data-popper-arrow]:after {
    border-bottom-width: 1px;
    border-left-width: 1px;
  }
  [data-popover][role="tooltip"][data-popper-placement^='bottom'] > [data-popper-arrow]:before {
    border-top-width: 1px;
    border-left-width: 1px;
  }
  [data-popover][role="tooltip"][data-popper-placement^='bottom'] > [data-popper-arrow]:after {
    border-top-width: 1px;
    border-left-width: 1px;
  }
  [data-popover][role="tooltip"][data-popper-placement^='left'] > [data-popper-arrow]:before {
    border-top-width: 1px;
    border-right-width: 1px;
  }
  [data-popover][role="tooltip"][data-popper-placement^='left'] > [data-popper-arrow]:after {
    border-top-width: 1px;
    border-right-width: 1px;
  }
  [data-popover][role="tooltip"][data-popper-placement^='top'] > [data-popper-arrow] {
    bottom: -5px;
  }
  [data-popover][role="tooltip"][data-popper-placement^='bottom'] > [data-popper-arrow] {
    top: -5px;
  }
  [data-popover][role="tooltip"][data-popper-placement^='left'] > [data-popper-arrow] {
    right: -5px;
  }
  [data-popover][role="tooltip"][data-popper-placement^='right'] > [data-popper-arrow] {
    left: -5px;
  }
  [role="tooltip"].invisible > [data-popper-arrow]:before {
    visibility: hidden;
  }
  [role="tooltip"].invisible > [data-popper-arrow]:after {
    visibility: hidden;
  }
}
