@reference "~/entrypoints/tailwind.css";

@layer components {
  .btn {
    @apply inline-flex items-center justify-center gap-2 w-fit;
    @apply outline-none cursor-pointer shrink-0 text-trim-trim-both;
    @apply font-medium text-center;

    @apply focus-visible:ring-2 focus-visible:ring-offset-1 focus-visible:ring-gray-300;
    @apply transition-transform active:translate-y-px;
  }

  .btn-default {
    @apply text-white;
    @apply bg-primary hover:bg-primary/90;
    @apply focus-visible:ring-primary/30;
  }

  .btn-outline {
    @apply text-black border border-gray-300;
    @apply hover:bg-gray-200/50;
  }

  .btn-secondary {
    @apply text-white;
    @apply bg-secondary hover:bg-secondary/90;
    @apply focus-visible:ring-secondary/30;
  }

  .btn-danger {
    @apply text-white;
    @apply bg-red-600 hover:bg-red-600/80;
    @apply focus-visible:ring-red-600/30;

  }

  .btn-ghost {
    @apply text-black;
    @apply hover:bg-gray-200/50;
  }

  .btn-link {
    @apply text-primary-700 hover:text-primary-800;
  }

  /* Sizes */
  .btn-xs {
    --icon-size: calc(var(--spacing) * 3.25);
    @apply px-2 text-xs rounded-md min-h-6.5 gap-1;
  }

  .btn-sm {
    --icon-size: calc(var(--spacing) * 4);
    @apply px-3 text-sm rounded-md min-h-8 gap-1.5;
  }

  .btn-md {
    --icon-size: calc(var(--spacing) * 5);
    @apply px-4.5 text-sm rounded-md min-h-10;
  }

  .btn-lg {
    --icon-size: calc(var(--spacing) * 6);
    @apply px-6 text-base rounded-lg min-h-12;
  }

  /* Icons */
  .btn-icon_xs {
    --icon-size: calc(var(--spacing) * 3.25);
    @apply rounded-md size-6.5;
  }

  .btn-icon_sm {
    --icon-size: calc(var(--spacing) * 4);
    @apply rounded-md size-8;
  }

  .btn-icon_md {
    --icon-size: calc(var(--spacing) * 5);
    @apply rounded-md size-10;
  }

  .btn-icon_lg {
    --icon-size: calc(var(--spacing) * 6);
    @apply rounded-lg size-12;
  }

  /* Block */
  .btn-block {
    @apply w-full;
  }

  /* Rounded */
  .btn-rounded {
    @apply rounded-full;
  }

  .btn-circle {
    @apply p-0 rounded-full;
  }
}
