<%= content_tag :div, class: classes, **options do %>
  <%= icon %>

  <div class="flex flex-col gap-3">
    <strong class="block text-lg font-semibold">
      <%= title %>
    </strong>

    <%= content %>
  </div>
<% end %>
