<div class="card">
  <div class="card__header">
    <div>
      <%= @title %>
    </div>
  </div>
  <div class="card__body">
    <%= @body %>
  </div>
  <div class="card__footer">
    <%= @footer %>
  </div>
</div>