<div class="<%= card_classes %>">
  <div class="card__header">
    <strong class="block font-semibold">
      <%= header %>
    </strong>
  </div>
  <div class="card__body">
    <%= body %>
  </div>
  <div class="card__footer">
    <%= footer %>
  </div>
</div>