<div class="<%= card_classes %>">
  <strong class="block font-semibold">
    <%= header if header %>
  </strong>
  <div class="card__body">
    <%= body %>
  </div>
  <%= footer if footer %>
</div>