@reference "~/entrypoints/tailwind.css";

@layer components {
  .modal {
    @apply fixed top-0 left-0 right-0 z-50 hidden w-full h-full max-h-screen px-4 overflow-x-hidden overflow-y-auto md:bottom-0 animate-slide-up;
  }

  .modal-dialog {
    @apply p-0 m-auto rounded-lg shadow-sm h-fit w-fit backdrop:bg-gray-900/50;

    &[open] {
      @apply block;
    }
  }

  .modal__window {
    @apply relative w-full max-w-2xl max-h-full mx-auto;
  }

  .modal__content {
    @apply relative bg-white rounded-lg shadow-sm;
  }

  .modal__header {
    @apply flex items-center justify-between p-4 px-6 border-b border-gray-200
  }

  .modal__title {
    @apply text-xl font-semibold leading-tight text-gray-900;
  }

  .modal__subtitle {
    @apply mt-1 text-sm text-gray-600
  }

  .modal__close {
    @apply inline-flex items-center p-1 ml-auto text-sm text-gray-400 transition-all duration-300 bg-transparent rounded-full cursor-pointer hover:bg-gray-100 hover:text-gray-400;
  }

  .modal__body {
    @apply py-6 px-6 rounded-lg
  }

  .modal__body-overflowed {
    @apply max-h-[calc(100vh-180px)] overflow-auto;
  }

  .modal__footer {
    @apply flex items-center p-6 py-4 space-x-3 border-t border-gray-200
  }

  .modal__footer-end {
    @apply justify-end;
  }

  .modal__footer-sticky {
    @apply sticky bottom-0 bg-white rounded-b-lg;
  }
}
