@reference "~/entrypoints/tailwind.css";

@layer components {
  .modal {
    @apply p-0 m-auto rounded-lg shadow-sm h-fit w-fit backdrop:bg-gray-900/50;
    @apply w-2xl;  /* default width */
  }

  .modal__header {
    @apply sticky top-0 flex items-center justify-between p-4 px-6 border-b border-gray-200 bg-white/70 backdrop-blur-sm;
  }

  .modal__title {
    @apply text-xl font-semibold leading-tight text-gray-900;
  }

  .modal__subtitle {
    @apply mt-1 text-sm text-gray-600
  }

  .modal__close {
    @apply inline-flex items-center p-1 ml-auto text-sm text-gray-400 transition-all duration-300 bg-transparent rounded-full cursor-pointer hover:bg-gray-100 hover:text-gray-400;
  }

  .modal__body {
    @apply py-6 px-6 rounded-lg overflow-auto;
  }

  .modal__footer {
    @apply sticky bottom-0 flex items-center w-full gap-2 p-4 rounded-b-lg border-t border-gray-200 bg-white/70 backdrop-blur-sm;
  }

  .modal__footer-end {
    @apply justify-end;
  }
}
