<%
  set_meta_tags(
    title: "Homepage",
    description: "Our homepage is the best place to find out what we do and how we can help you.",
    keywords: "Site, Login, Members"
  )
%>

<div class="wrapper">
  <article class="wysiwyg">
    <h1>
      Hello from JetRockets
    </h1>
  </article>

  <div class="w-full md:w-6/12">
    <%= form_with url: root_path do |f| %>
      <%= f.text_field :first_name, autofocus: true %>
      <%= f.text_field :last_name %>
    <% end %>
  </div>
</div>
