<%
  set_meta_tags(
    title: "Homepage",
    description: "Our homepage is the best place to find out what we do and how we can help you.",
    keywords: "Site, Login, Members"
  )
%>

<%= render Ui::GretelBreadcrumb::Component.new(:root) %>

<article class="wrapper">
  <div class="flex flex-col gap-6">
    <section>
      <h1 class="mb-2 text-2xl font-bold">
        Rails Template
      </h1>
      <p>
        Please add a description of the template. List of features, code style, and other important information.
      </p>
    </section>

    <section>
      <h2 class="mb-2 text-xl font-bold">
        Front-end Components
      </h2>

      <ol class="flex flex-col gap-1 pl-6 list-disc">
        <li>Navigate to the <%= link_to "Lookbook for components", lookbook_path, class: "link" %>.</li>
        <li>Find the component you want to use.</li>
        <li>Copy the component's code.</li>
        <li>Paste the code where you need it.</li>
      </ol>
    </section>
  </sedivction>
</article>
