<div class="flex items-center gap-4">
  <%= icon_tag "alert", size: 6, class: "text-red-500" %>
  <%= icon_tag "alert", size: 8, class: "text-green-500" %>
  <%= icon_tag "alert", size: 10, class: "text-blue-500" %>
</div>
