@reference "~/entrypoints/application.css";

@layer components {
  .breadcrumbs {
    @apply flex mb-3.5 -mt-2 md:-mt-4 text-sm;

    .current {
      @apply text-gray-600;
    }
  }

  .breadcrumbs__separator {
    @apply mx-2;
  }

  .breadcrumb__tab_current {
    @apply text-gray-600;
  }
}
