@reference "~/entrypoints/application.css";

@layer components {
  .popover {
    @apply z-10 text-sm text-gray-500 bg-white border border-gray-200 rounded-lg shadow-sm;
  }

  .popover__wrapper {
    @apply absolute z-10 invisible inline-block w-64 text-sm transition-opacity duration-300 opacity-0;
  }

  [data-placement="top"] .popover__wrapper {
    padding-bottom: var(--popover-padding);
  }

  [data-placement="bottom"] .popover__wrapper {
    padding-top: var(--popover-padding);
  }

  [data-placement="right"] .popover__wrapper {
    padding-left: var(--popover-padding);
  }

  [data-placement="left"] .popover__wrapper {
    padding-right: var(--popover-padding);
  }

  .popover__title {
    @apply px-3 py-2 font-semibold text-gray-900 bg-gray-100 border-b border-gray-200 rounded-t-lg;
  }
}
