<%
  set_meta_tags(
    title: "COMPONENT_TITLE - Rails UI Components",
    description: "COMPONENT_DESCRIPTION",
    keywords: "Rails, UI Components, ViewComponent"
  )
%>
<% breadcrumb :ui_accordion %>

<article class="wysiwyg">
  <header>
    <h1 class="h1">Accordion</h1>
    <p class="text-xl text-gray-600">
      A component that allows users to expand and collapse sections of content.
    </p>
  </header>

  <section>
    <%= render Ui::Accordion::Component.new do |accordion| %>
      <%= accordion.with_item(title: "First Item", id: "item_1", opened: true) do %>
        <p class="mb-0">
          Laborum exercitation commodo ut quis nisi dolore incididunt officia. Minim ea incididunt ea tempor dolor sunt. Excepteur ullamco do eu incididunt tempor. Consequat voluptate amet Lorem aliquip elit incididunt mollit reprehenderit cupidatat adipisicing labore proident labore. Officia laboris consectetur commodo sunt eiusmod non velit irure est nulla excepteur et cupidatat duis do.
        </p>
      <% end %>

      <%= accordion.with_item(title: "Second Item", id: "item_2") do %>
        <p class="mb-0">
          Laborum exercitation commodo ut quis nisi dolore incididunt officia. Minim ea incididunt ea tempor dolor sunt. Excepteur ullamco do eu incididunt tempor. Consequat voluptate amet Lorem aliquip elit incididunt mollit reprehenderit cupidatat adipisicing labore proident labore. Officia laboris consectetur commodo sunt eiusmod non velit irure est nulla excepteur et cupidatat duis do.
        </p>
      <% end %>
    <% end %>
  </section>
</article>
