<%
  set_meta_tags(
    title: "Alert - Rails UI Components",
    description: "Alert component for displaying status messages and notifications.",
    keywords: "Rails, Alert, UI Components, Notifications, Status"
  )
%>
<% breadcrumb :ui_alert %>

<article>
  <header class="wysiwyg">
    <h1 class="h1">Alert</h1>
    <p class="text-xl text-gray-600">
      Display important messages and status notifications to users.
    </p>
  </header>

  <section>
    <h2 class="h3">Example</h2>
    <%= turbo_frame_tag :ui_alert, data: { turbo_action: :advance }, target: :_top do %>
      <%= render Ui::Tabs::Component.new class: "mb-6" do |tabs| %>
        <% tabs.with_item title: "Preview", href: ui_alert_path, data: { turbo_frame: :ui_alert }, active: !params[:code] %>
        <% tabs.with_item title: "Code", href: ui_alert_path(code: true), data: { turbo_frame: :ui_alert }, active: params[:code] %>
      <% end %>

      <div class="flex flex-col gap-2">
        <% unless params[:code] %>
          <%= render "ui/examples/alert" %>
        <% else %>
          <%= render_code_example("ui/examples/_alert") %>
        <% end %>
      </div>
    <% end %>
  </section>
</article>
