<%
  set_meta_tags(
    title: "Avatar - Rails UI Components",
    description: "Display user profile images and initials.",
    keywords: "Rails, UI Components, Avatar"
  )
%>
<% breadcrumb :ui_avatar %>

<article>
  <header class="wysiwyg">
    <h1 class="h1">Avatar</h1>
    <p class="text-xl text-gray-600">
      Display user profile images and initials.
    </p>
  </header>

  <section>
    <h2 class="h3">Example</h2>
    <%= turbo_frame_tag :ui_avatar, data: { turbo_action: :advance }, target: :_top do %>
      <%= render Ui::Tabs::Component.new class: "mb-6" do |tabs| %>
        <% tabs.with_item title: "Preview", href: ui_avatar_path, data: { turbo_frame: :ui_avatar }, active: !params[:code] %>
        <% tabs.with_item title: "Code", href: ui_avatar_path(code: true), data: { turbo_frame: :ui_avatar }, active: params[:code] %>
      <% end %>

      <div class="flex flex-col gap-2">
        <% unless params[:code] %>
          <%= render "ui/examples/avatar" %>
        <% else %>
          <%= render_code_example("ui/examples/_avatar") %>
        <% end %>
      </div>
    <% end %>
  </section>
</article>
