<%
  set_meta_tags(
    title: "Dropdown - Rails UI Components",
    description: "Dropdown component for contextual menus and navigation.",
    keywords: "Rails, UI Components, Dropdown"
  )
%>
<% breadcrumb :ui_dropdown %>

<article>
  <header class="wysiwyg">
    <h1 class="h1">Dropdown</h1>
    <p class="text-xl text-gray-600">
      Dropdown component for contextual menus and navigation.
    </p>
  </header>

  <section>
    <h2 class="h3">Example</h2>
    <%= turbo_frame_tag :ui_dropdown, data: { turbo_action: :advance }, target: :_top do %>
      <%= render Ui::Tabs::Component.new class: "mb-6" do |tabs| %>
        <% tabs.with_item title: "Preview", href: ui_dropdown_path, data: { turbo_frame: :ui_dropdown }, active: !params[:code] %>
        <% tabs.with_item title: "Code", href: ui_dropdown_path(code: true), data: { turbo_frame: :ui_dropdown }, active: params[:code] %>
      <% end %>

      <div class="flex flex-col gap-2">
        <% unless params[:code] %>
          <%= render "ui/examples/dropdown" %>
        <% else %>
          <%= render_code_example("ui/examples/_dropdown") %>
        <% end %>
      </div>
    <% end %>
  </section>
</article>
