<%
  set_meta_tags(
    title: "Flash Message - Rails UI Components",
    description: "Flash Message component for displaying brief notifications.",
    keywords: "Rails, Flash Message, UI Components, Notifications"
  )
%>
<% breadcrumb :ui_flash_message %>

<article>
  <header class="header">
    <div class="header__heading">
      <h1 class="header__title">Flash message</h1>
      <p class="header__subtitle">
        Display brief notifications to users.
      </p>
    </div>

    <div class="header__actions">
      <%= link_to "View on GitHub", "https://github.com/jetrockets/ui.jetrockets.com/tree/main/app/components/ui/flash", class: "btn btn-secondary", target: "_blank", rel: "noopener noreferrer" %>
    </div>
  </header>

  <section>
    <div class="flex flex-col gap-4 mb-12">
      <%= render Ui::Alert::Component.new title: "To use the Flash Message component, you need to render it in your layout", type: :warning %>
      <pre><code>&lt;%= render Ui::Flash::Component.new %&gt;</code></pre>
    </div>

    <h2 class="h3">Example</h2>

    <div class="flex flex-col gap-2 mt-6">
      <%= render "ui/examples/flash" %>
      <%= render_code_example("ui/examples/_flash") %>
    </div>
  </section>
</article>
