<%
  set_meta_tags(
    title: "Flash Message - Rails UI Components",
    description: "Flash Message component for displaying brief notifications.",
    keywords: "Rails, Flash Message, UI Components, Notifications"
  )
%>
<% breadcrumb :ui_flash_message %>

<article>
  <header class="wysiwyg">
    <h1 class="h1">Flash message</h1>
    <p class="text-xl text-gray-600">
      Display brief notifications to users.
    </p>
  </header>

  <section>
    <h2 class="h3">Example</h2>
    <div class="flex flex-col gap-2 mt-6">
      <%= render "ui/examples/flash" %>
      <%= render_code_example("ui/examples/_flash") %>
    </div>
  </section>
</article>
