<%
  set_meta_tags(
    title: "Pagy - Rails UI Components",
    description: "Pagy component for pagination controls.",
    keywords: "Rails, UI Components, Pagy, Pagination"
  )
%>
<% breadcrumb :ui_pagy %>

<article>
  <header class="wysiwyg">
    <h1 class="h1">Pagy</h1>
    <p class="text-xl text-gray-600">
      Pagy component for pagination controls.
    </p>
  </header>

  <section>
    <h2 class="h3">Example</h2>
    <%= turbo_frame_tag :ui_pagy, data: { turbo_action: :advance }, target: :_top do %>
      <%= render Ui::Tabs::Component.new class: "mb-6" do |tabs| %>
        <% tabs.with_item title: "Preview", href: ui_pagy_path, data: { turbo_frame: :ui_pagy }, active: !params[:code] %>
        <% tabs.with_item title: "Code", href: ui_pagy_path(code: true), data: { turbo_frame: :ui_pagy }, active: params[:code] %>
      <% end %>

      <div class="flex flex-col gap-2">
        <% unless params[:code] %>
          <%= render "ui/examples/pagy" %>
        <% else %>
          <%= render_code_example("ui/examples/_pagy") %>
        <% end %>
      </div>
    <% end %>
  </section>
</article>
