<%
  set_meta_tags(
    title: "Table - Rails UI Components",
    description: "Table component for displaying tabular data.",
    keywords: "Rails, UI Components, Table"
  )
%>
<% breadcrumb :ui_table %>

<article>
  <header class="wysiwyg">
    <h1 class="h1">Table</h1>
    <p class="text-xl text-gray-600">
      Table component for displaying tabular data.
    </p>
  </header>

  <section>
    <h2 class="h3">Example</h2>
    <%= turbo_frame_tag :ui_table, data: { turbo_action: :advance }, target: :_top do %>
      <%= render Ui::Tabs::Component.new class: "mb-6" do |tabs| %>
        <% tabs.with_item title: "Preview", href: ui_table_path, data: { turbo_frame: :ui_table }, active: !params[:code] %>
        <% tabs.with_item title: "Code", href: ui_table_path(code: true), data: { turbo_frame: :ui_table }, active: params[:code] %>
      <% end %>

      <div class="flex flex-col gap-2">
        <% unless params[:code] %>
          <%= render "ui/examples/table" %>
        <% else %>
          <%= render_code_example("ui/examples/_table") %>
        <% end %>
      </div>
    <% end %>
  </section>
</article>
