<div class="tabs">
  <div class="tabs__container">
    <%= content_tag :div, class: classes do %>
      <% items.each do |item| %>
        <li class="tabs__item">
          <%= item %>
        </li>
      <% end %>
    <% end %>
  </div>
</div>