<div class="tabs">
  <div class="tabs__container">
    <ul class="tabs__list">
      <% items.each do |item| %>
        <li class="tabs__item">
          <%= item %>
        </li>
      <% end %>
    </ul>
  </div>
</div>