@reference "~/entrypoints/tailwind.css";

@layer components {
  .tabs {
    @apply flex flex-row md:flex-col gap-x-8 md:gap-x-0;
  }

  .tabs__container {
    @apply overflow-x-auto;
  }

  .tabs__list {
    @apply flex text-sm list-none font-medium md:text-center md:border-b md:border-gray-200 gap-y-2 md:gap-y-0;
  }

  .tabs__item {
    @apply md:-mb-px md:me-2;
  }

  .tabs__link {
    @apply inline-block text-gray-600 border-b-2 border-transparent rounded-t-lg p-4 hover:text-gray-800 hover:border-gray-300;
  }

  .tabs__link-active {
    @apply text-blue-600 hover:text-blue-600 border-blue-600 hover:border-blue-600
  }
}
