@layer components {
  .dropdown {
    @apply hidden bg-white rounded-lg shadow-md min-w-44
  }

  .dropdown__wrapper {
    @apply py-2 text-sm text-gray-700
  }

  .dropdown__title {
    @apply px-2 py-3 text-lg font-bold
  }

  .dropdown__item {
    @apply block px-4 py-2 hover:bg-gray-100
  }

  .dropdown__divider {
    @apply pb-2 mb-2 border-gray-200 border-b-1
  }
}
