@layer components {
  .navbar {
    @apply sticky top-0 z-40 flex flex-col items-center justify-between shadow-xs bg-white/90 backdrop-blur-xs h-[var(--nav-height)];
  }

  .navbar-active .navbar__backgrop {
    @apply visible opacity-60;
  }

  .navbar__logo {
    @apply w-28;
  }

  .navbar__inner {
    @apply flex items-center justify-between flex-1;
  }

  .navbar__menu {
    @apply fixed inset-0 invisible w-screen h-0 pt-4 overflow-auto duration-300 translate-y-full bg-blue-700 opacity-0;
    transition-property: opacity, transform;

    @apply md:relative md:top-0 md:flex md:justify-center md:flex-1 md:visible md:w-auto md:h-auto md:pt-0 md:space-x-6 md:overflow-visible md:translate-y-0 md:bg-transparent md:opacity-100;
  }

  .navbar__menu-active {
    @apply visible translate-y-0 opacity-100 top-[var(--nav-height)] h-[calc(100vh-var(--nav-height))];

    @apply md:top-auto md:h-auto;
  }

  .navbar__link {
    @apply flex items-center px-6 py-3 text-3xl font-bold leading-tight text-white;

    @apply md:relative md:block md:px-0 md:py-2 md:text-base md:font-normal md:leading-none md:text-gray-600 md:hover:text-black;
  }

  .navbar__link-active {
    @apply text-blue-700 bg-white;

    @apply md:text-black md:bg-transparent;
  }

  .navbar__right {
    @apply flex items-center gap-x-3;
  }

  .navbar__close {
    @apply invisible transition-all opacity-0;
  }

  .navbar__open {
    @apply visible transition-all opacity-100;
  }

  .navbar__burger {
    @apply md:hidden
  }

  .navbar__burger-opened {
    .navbar__close {
      @apply visible opacity-100;
    }

    .navbar__open {
      @apply invisible opacity-0;
    }
  }
}
