@theme {
  --nav-height: 54px;

  --color-primary: var(--color-primary-600);
  --color-secondary: var(--color-secondary-600);

  --color-primary-50: oklch(0.97 0.014 254.604);
  --color-primary-100: oklch(0.932 0.032 255.585);
  --color-primary-200: oklch(0.882 0.059 254.128);
  --color-primary-300: oklch(0.809 0.105 251.813);
  --color-primary-400: oklch(0.707 0.165 254.624);
  --color-primary-500: oklch(0.623 0.214 259.815);
  --color-primary-600: oklch(0.546 0.245 262.881);
  --color-primary-700: oklch(0.488 0.243 264.376);
  --color-primary-800: oklch(0.424 0.199 265.638);
  --color-primary-900: oklch(0.379 0.146 265.522);
  --color-primary-950: oklch(0.282 0.091 267.935);

  --color-secondary-50: oklch(0.985 0.002 247.839);
  --color-secondary-100: oklch(0.967 0.003 264.542);
  --color-secondary-200: oklch(0.928 0.006 264.531);
  --color-secondary-300: oklch(0.872 0.01 258.338);
  --color-secondary-400: oklch(0.707 0.022 261.325);
  --color-secondary-500: oklch(0.551 0.027 264.364);
  --color-secondary-600: oklch(0.446 0.03 256.802);
  --color-secondary-700: oklch(0.373 0.034 259.733);
  --color-secondary-800: oklch(0.278 0.033 256.848);
  --color-secondary-900: oklch(0.21 0.034 264.665);
  --color-secondary-950: oklch(0.13 0.028 261.692);

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-2rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(2rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
