<nav class="<%= pagination_classes %>">
  <ul class="pagination__list">
    <% items.each do |item| %>
      <li class="pagination__item">
        <%= item %>
      </li>
    <% end %>
  </ul>
</nav>